* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #000000;
    color: white;
    margin-left: 230px;
    scroll-behavior: smooth;
}

p {
    font-size: 20px;
}

h1, h2, h3, a {
    color: #FFDE59;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 220px;
    height: 100vh;
    background-color: #1f1f1f;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

#head {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0;
    margin-top: 30px;
    align-items: flex-start;
}

nav a{
    text-decoration: none;
}

nav a:hover {
    color: blue;
}

/* ========== Home section =========== */
#home {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#home h1 {
    font-size: 500%;
}

#home h2 {
    margin-top: 10px;
    font-size: 200%;
}

#home p {
    margin-top: 20px;
}


/* ========== skills section =========== */
#skills {

}
/* ========== certification section =========== */
#certifications {

}
/* ========== projects section =========== */
#projects {

}
/* ========== experience section =========== */
#experience {

}
/* ========== education section =========== */
#education {

}
/* ========== contact section =========== */
#contact {

}


#myPhoto {
    height: 300px;
    width: 300px;
}

#logo {
    height: 300px;
    width: 300px;
}